.DS_Store

config.private.php
public_html/perch/addons/apps
public_html/perch/addons/feathers
public_html/perch/addons/fieldtypes
public_html/perch/addons/lang
public_html/perch/addons/plugins
default_content
public_html/perch/resources/perch_blog*