<div class="product boxer">
    <perch:if exists="productImage"><img src="<perch:shop id="productImage" type="image" width="600" height="600" crop="true" density="2" />" alt="<perch:shop id="productTitle" />"></perch:if>
    <div class="box shop minor boxed">
        <h2><perch:shop id="productTitle" /></h2>
        <perch:shop id="productDescHTML" encode="false" />             
        <perch:form><perch:if exists="productOptions_html"><perch:shop id="productOptions_html" encode="false" /></perch:if></perch:form>
        <div class="buy">
            <span class="price">&pound;<perch:shop id="productPrice" /></span>
            <a href="/shop" class="button">Buy</a>
        </div>
    </div>
</div>
