<div class="product">
	<h2><perch:shop id="productTitle" /></h2>
	
	<perch:if exists="productImage">
		<img src="<perch:shop id="productImage" label="Image" type="image" width="600" height="600" crop="true" density="2" />" alt="<perch:shop id="productTitle" />" />
	</perch:if> 
	
	<div class="details">
		
		<perch:shop id="productDescHTML" encode="false" textile="true" editor="markitup" type="textarea" />
		
		<perch:form id="_xclick" method="post" action="https://www.paypal.com/cgi-bin/webscr">
		
		
        <perch:input type="hidden" name="business" value="<perch:setting id="perch_shop_paypal_email" />" />
        <perch:input type="hidden" name="currency_code" value="GBP" /> 
        <perch:input type="hidden" name="cmd" value="_cart" />
        <perch:input type="hidden" name="add" value="1" />     
		<perch:input type="hidden" name="item_name" value="<perch:shop id="productTitle" />" />
		<perch:input type="hidden" name="item_number" value="<perch:shop id="productCode" />" />
		<perch:input type="hidden" name="amount" value="<perch:shop id="productPrice" />" />
		
		<perch:if exists="productOptions_html"><perch:shop id="productOptions_html" encode="false" type="hidden" /></perch:if>
		
		<div class="buttons"><perch:input type="submit" name="add" value="Add to cart" />  <span class="price">Price: &pound;<perch:shop id="productPrice" /></span></div>
		</perch:form>   
    </div>
    
</div>