<perch:before>
<div class="box members minor">
	<h2>Members only info</h2>
</perch:before>

<div class="file">
	<a href="<perch:content id="file" type="file" label="File" bucket="members" />" class="button"><perch:content type="text" id="title" label="Title" order="1" required="true" title="true" /></a>
	<perch:content id="desc" type="textarea" label="Description" markdown="true" editor="markitup" order="3" size="xs" />
	<perch:content id="file" type="file" label="File" bucket="members" output="size" suppress="true" format="MB" />
</div>

<perch:after>
</div>
</perch:after>