<perch:before>
    <div class="box blog">
        <ul class="posts">
</perch:before>
            <li class="post">
                <time datetime="<perch:blog id="postDateTime" format="Y-m-d" />" pubdate="pubdate"><span class="day"><perch:blog id="postDateTime" format="d" /></span> <perch:blog id="postDateTime" format="F" /></time>
                <h2><a href="<perch:blog id="postURL" />" rel="bookmark" class="post-title"><perch:blog id="postTitle" /></a></h2>
                <perch:blog id="excerpt" type="textarea" markdown="true" />
                <p class="comments icon"><perch:blog id="postCommentCount"/> <span class="lang-comments">comments</span></p>
                <p><a href="<perch:blog id="postURL" />" class="read-more">Read More &raquo;</a></p>
            </li>
<perch:after>            
        </ul>
        <div class="list-cta"><a href="/blog/">Visit the blog &rarr;</a></div>
    </div>
</perch:after>