<perch:form id="reset" method="post" app="perch_members" class="box">
	
	<div>
		<perch:label for="email">Your registered email address</perch:label>
		<perch:input type="email" id="email" required="true" label="Email" placeholder="you@company.com" helper="PerchMembers_Members::check_email_exists" />
		<perch:error for="email" type="required">Please add your email address</perch:error>
		<perch:error for="email" type="helper"><p>We don't have an account with that email address.</p></perch:error>
	</div>

	<div>
		<perch:input type="submit" value="Reset" class="button" />
	</div>

	<perch:success>
		<p>A new password has been emailed to you.</p>
	</perch:success>

</perch:form>