<perch:form id="password" method="post" app="perch_members" class="box members minor">

	<h2>Set a password</h2>

	<p>Think you might come back? Add a password to use details from this order to create an account.</p>

	<div>
		<perch:label for="password">Password</perch:label>
		<perch:input type="password" id="password" required="true" match-with="password2" />
		<perch:error for="password" type="required">Please enter a new password</perch:error>
		<perch:error for="password" type="match">Passwords do not match</perch:error>
	</div>

	<div>
		<perch:label for="password2">Repeat your password</perch:label>
		<perch:input type="password" id="password2" required="true" />
		<perch:error for="password2" type="required">Please repeat your password</perch:error>
	</div>
	<div>
		<button type="submit" class="button">Create my account</button>
		<perch:input type="cms" />
		<perch:input type="hidden" id="token" />
		<perch:input type="hidden" id="old_password" value="__auto__" />
	</div>

	<perch:success>
		<div class="box members minor">
			<h2>You're all set!</h2>
			<p>Your details have been saved, so you can save time by logging back in next time you're here!</p>
	</perch:success>

</perch:form>